@font-face {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Montserrat-Light'),
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PragmaticaExtended-ExtraLight';
  font-weight: 200;
  font-style: normal;
  src: local('PragmaticaExtended-ExtraLight'),
    url('../fonts/PragmaticaExtended-ExtraLight.woff2') format('woff2'),
    url('../fonts/PragmaticaExtended-ExtraLight.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'PragmaticaExtended-Book';
  font-weight: 400;
  font-style: normal;
  src: local('PragmaticaExtended-Book'),
    url('../fonts/PragmaticaExtended-Book.woff2') format('woff2'),
    url('../fonts/PragmaticaExtended-Book.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'PragmaticaExtended-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('PragmaticaExtended-Bold'),
    url('../fonts/PragmaticaExtended-Bold.woff2') format('woff2'),
    url('../fonts/PragmaticaExtended-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro-Light';
  font-weight: 300;
  font-style: normal;
  src: local('GothamPro-Light'),
    url('../fonts/GothamPro-Light.woff2') format('woff2'),
    url('../fonts/GothamPro-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'GothamPro-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('GothamPro-Medium'),
    url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Aqum-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Aqum-Regular'),
    url('../fonts/Aqum.woff2') format('woff2'),
    url('../fonts/Aqum.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Astera-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Astera-Regular'),
    url('../fonts/Astera.woff2') format('woff2'),
    url('../fonts/Astera.woff') format('woff');
  font-display: swap;
}
