html,
body {
  height: 100%;
}

body {
  font-family: "My", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $default;
}

.main {
  flex-grow: 1;
}

.site-container{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
