<footer class="footer">
  <div class="container footer__container">
    <div class="footer__inner">
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">
            Home
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">
            About Us
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">
            Catalog
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">
            FAQ
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="#">
            Сontacts
          </a>
        </li>
      </ul>
      <div class="footer__items">
        <a class="footer__items-link" href="mailto:highflybuy@busines.com">
          highflybuy@busines.com
        </a>
        <a class="footer__items-link" href="tel:88005553535">
          8 (800) 555 35 35
        </a>
      </div>
      <a class="logo footer__logo" href="#">
        <img class="footer__logo-img" src="images/content/logo-big.svg" alt="logotype">
      </a>
    </div>
    <p class="footer__copy">
      © Copyright 2019
    </p>
  </div>
</footer>