<section class="about">
  <div class="about__container container">
    <h1 class="about__decor-title">
      About us
    </h1>
    <div class="about__inner">
      <h2 class="about__title title">
        <span class="title--accent">About</span> us
      </h2>
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <div class="about__info">
        <div class="about__info-item">
          <div class="about__info-box">
            <svg class="about__info--truck">
              <use xlink:href="images/icons/mono/spriteMono.svg#truck"></use>
            </svg>
          </div>
          <p class="about__info-text">
            Direct suppliers
          </p>
        </div>
        <div class="about__info-item">
          <div class="about__info-box">
            <svg class="about__info--protection">
              <use xlink:href="images/icons/mono/spriteMono.svg#protection"></use>
            </svg>
          </div>
          <p class="about__info-text">
            Quality goods
          </p>
        </div>
        <div class="about__info-item">
          <div class="about__info-box">
            <svg class="about__info--marker">
              <use xlink:href="images/icons/mono/spriteMono.svg#marker"></use>
            </svg>
          </div>
          <p class="about__info-text">
            Delivery throughout Russia
          </p>
        </div>
      </div>
      <div class="about__decor">
        <div class="about__decor-item about__decor-item--big"></div>
        <div class="about__decor-item about__decor-item--min"></div>
      </div>
    </div>
  </div>
  <picture>
    <source srcset="images/content/about/01.webp" type="image/webp">
    <img class="about__img" src="images/content/about/01.png" alt="quadracopter" aria-hidden="true">
  </picture>
</section>