<section class="first">
  <div class="first__slider">
    <div class="first__slide" style="background-image: url(images/content/first/bg-1.jpg);">
      <div class="first__container container">
        <h1 class="first__title">
          Inspire 2
          <span class="first__title--accent">
            quadcopter
          </span>
        </h1>
        <p class="first__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <a href="#" class="first__link">
          To catalog
        </a>
        <div class="first__img first__img--right">
          <picture>
            <source srcset="images/content/first/01.webp" type="image/webp">
            <img src="images/content/first/01.png" alt="quadcopter">
          </picture>
        </div>
      </div>
    </div>
    <div class="first__slide" style="background-image: url(images/content/first/bg-2.jpg);">
      <div class="first__container container">
        <h1 class="first__title">
          go pro
          <span class="first__title--accent">
            hero 2
          </span>
        </h1>
        <p class="first__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <a href="#" class="first__link">
          To catalog
        </a>
        <div class="first__img">
          <picture>
            <source srcset="images/content/first/02.webp" type="image/webp">
            <img src="images/content/first/02.png" alt="quadcopter">
          </picture>
        </div>
      </div>
    </div>
    <div class="first__slide" style="background-image: url(images/content/first/bg-3.jpg);">
      <div class="first__container container">
        <h1 class="first__title">
          go pro
          <span class="first__title--accent">
            hero 3
          </span>
        </h1>
        <p class="first__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <a href="#" class="first__link">
          To catalog
        </a>
        <div class="first__img first__img--big">
          <picture>
            <source srcset="images/content/first/03.webp" type="image/webp">
            <img src="images/content/first/03.png" alt="quadcopter">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="first__arrows"></div> -->
</section>